.theme-icon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.light-icon,
.dark-icon {
  font-size: 25px;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  text-align: center;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

.logo:hover {
  transform: scale(1.05);
  color: #00e69e;
}

/* .task-manager-logo {
  width: 60px;
  border-radius: 9999px;
} */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}
